<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.4.18/css/AdminLTE.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.1/css/fontawesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@8/dist/sweetalert2.min.css" rel="stylesheet" />

</head>
<style>

    #circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 150px;
        height: 150px;
    }

    .loader {
        width: calc(100% - 0px);
        height: calc(100% - 0px);
        border: 5px solid #FFC300;
        border-top: 5px solid rgb(236, 239, 243);
        border-radius: 50%;
        animation: rotate 5s linear infinite;
    }

    .loaderdos {
        width: calc(100% - 0px);
        height: calc(100% - 0px);
        border: 5px solid #FF5733;
        border-top: 5px solid rgb(241, 241, 241);
        border-radius: 50%;
        animation: rotate 5s linear infinite;
    }

    .loadertres {
        width: calc(100% - 0px);
        height: calc(100% - 0px);
        border: 5px solid #C70039;
        border-top: 5px solid rgb(241, 241, 241);
        border-radius: 50%;
        animation: rotate 5s linear infinite;
    }

    @@keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }
</style>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href='@Url.Action("Index","Home")'>Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("BuscarDocumentosPorFecha","Home")">Documentos por fecha</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("RegistrarFechaDeNotificacion","Home")">Registrar fecha</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("ReportesHojasDeEnvios","Home")">Reportes</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="body-content">
        @RenderBody()

        <div>
            <footer class="page-footer font-small blue pt-4" style="margin-top:150px;">
                <hr />
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">
                    © 2019 Copyright:
                    <a href="#"> Code{B12}</a>
                </div>
                <!-- Copyright -->
            </footer>
        </div>
    </div>


    <script src="~/Scripts/jquery-3.4.1.slim.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
    @RenderSection("scriptsIndex", required: false)
    @RenderSection("scriptsBuscarDocFecha", required: false)
    @RenderSection("scriptsRegistrarFecha", required: false)
</body>
</html>